@charset "utf-8";

a{
  text-decoration: none;
}

.mt20{
  width: 446px;
  height: 377px;
}

.head{
  height: 39px;
  border-bottom: 1px solid #dcdcdc;
}

.tit{
  color: #424242;
  float: left;
  line-height: 35px;
  font-size: 14px;
}

.tit span{
  background: url(E:/.vscode-workspace/html_css_kecheng/20200423/images/2/icon2.png) left center no-repeat;
  display: inline-block;
  height: 38px;
  padding: 0 14px 0 37px;
  color: #ff0000;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid #b3272e;
}

.more{
  float: right;
  padding: 15px;
}

.more a{
  font-size: 14px;
  color: #c25258;
}

.mlist{
  margin: 6px 5px 0 5px;
}

.label{
  padding: 0px;
}

.label li{
  background: url(E:/.vscode-workspace/html_css_kecheng/20200423/images/2/arr8.png) left center no-repeat;
  border-bottom: 1px dotted #bababa; /*案件*/
  overflow: hidden;
  padding-left: 20px;
  width: 416px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

.label a{
  color: #333333;
}

.label .datatime{
  float: right;
}