div{
    margin: auto;
    width: 600px;
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            float: left;
            width: 200px;
            height: 180px;
            img{
                width: 180px;
                height: 150px;
            }
        }
    }
}