p {
  color: red;
  font-size: 20pt;
}

.id {
  color: gray;
  font-weight: 200;
  font-size: 12pt;
}

.productname,
.category,
.price,
.protime {
  color: #99AA00;
  font-size: 12pt;
}

.image {
  width: 100px;
  height: 100px;
}

.description {
  color: gray;
  font-size: 9pt;
}
