<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (tap)="doBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="搜索关键词" [(ngModel)]="keywords" animated></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="doSearch()" color="dark">
        搜索
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="sub_toolbar">
    <div class="subheader">
      <div *ngFor="let item of subHeaderList" (click)="subHeaderChange(item.id)"
        [ngClass]="{'active': subHeaderSelected==item.id}">
        {{item.title}}
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search_content" *ngIf="flag" padding>
    <div class="hotlist">
      <h3 class="search_title">热搜</h3>
      <p>
        <span (tap)="goSearch('女装')">女装</span>
        <span (tap)="goSearch('男装')">男装</span>
        <span>家具</span>
        <span>化妆品</span>
        <span>女装</span>
        <span>女装</span>
        <span>男装</span>
        <span>家具</span>
        <span>化妆品</span>
      </p>
    </div>
    <div class="history" *ngIf="flag">
      <div *ngIf="historyList.length>0">
        <h3 class="search_title">历史搜索</h3>
        <ion-list lines="full">
          <ion-item *ngFor="let item of historyList;let key=index;" (press)="removeHistory(key)" (tap)="goSearch(item)">
            {{item}}
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
  <div class="list_content">
    <ion-list>
      <ion-item *ngFor="let item of productList">
        <ion-thumbnail slot="start">
          <img [src]="config.domain+item.pic" />
        </ion-thumbnail>
        <ion-label>
          <h3>{{item.title}}</h3>
          <p><span class="price">¥{{item.price}}</span></p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
