<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (tap)="doBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="搜索关键词" [(ngModel)]="keywords" animated></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="doSearch()" color="dark">
        搜索
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="sub_toolbar">
    <div class="subheader">
      <div *ngFor="let item of subHeaderList" (click)="subHeaderChange(item.id)"
        [ngClass]="{'active': subHeaderSelected==item.id}">
        {{item.title}}
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list_content">
    <ion-list>
      <ion-item *ngFor="let item of productList">
        <ion-label>
          <h3>{{item.title}}</h3>
          <p><span class="price">¥{{item.price}}</span></p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
