h3{
    clear: both;
    text-align: center;
}
ul{
    margin: auto;
    padding: auto;
    width: 600px;
    list-style: none;
    li{
        padding: 10 10;
        width: 200px;
        height: 180px;
        float: left;
        img{
            width: 150px; 
            height: 120px; 
        }
    }
}
.red{color: rgb(172, 6, 6); font-size: 10pt;}
.green{color: rgb(6, 173, 6); font-size: 10pt;}
