.login {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

ion-button {
  width: 100px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  color: rgb(70, 212, 255);
}
