@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

body{
  width: 683px;
  height: 319px;
}

.sports{
  font-size: 14px;
  width: 660px;
  height: 287px;
  padding: 16px 9px 16px 14px;
}

h2{
  border-top: 1px solid #6daaea;
  font-size: 14px;
  padding: 8px 5px;
}

h2 a{
  color: #0873c0;
}

ul{
  height: 245px;
  padding-top: 9px;
	column-count:2;
}

li{
  overflow: hidden;
  margin-bottom: 9px;
}

img{
  margin-top: 3px;
  margin-bottom: 1px;
  float: left;
  width: 108px;
  height: 70px;
  margin-right: 15px;
}

span{
  margin-left: 123px;
  padding-top: 19px;
  width: 190px;
  display: block;
  color: #3b639f;
}
li a{
  color: #172c45;
}
  
li:nth-child(2){
  background: url(E:/.vscode-workspace/html_css_kecheng/20200430/images/iconNBA.png) no-repeat -0px -45px;
  padding-left: 19px;
}

li:nth-child(3){
  background: url(E:/.vscode-workspace/html_css_kecheng/20200430/images/iconNBA.png) no-repeat -0px -45px;
  padding-left: 19px;
}

li:nth-child(4){
  background: url(E:/.vscode-workspace/html_css_kecheng/20200430/images/iconNBA.png) no-repeat -0px -45px;
  padding-left: 19px;
}

li:nth-child(5){
  background: url(E:/.vscode-workspace/html_css_kecheng/20200430/images/iconNBA.png) no-repeat -0px -45px;
  padding-left: 19px;
}

li:nth-child(6){
  background: url(E:/.vscode-workspace/html_css_kecheng/20200430/images/iconNBA.png) no-repeat -0px -45px;
  padding-left: 19px;
}

li:nth-child(7){
  background: url(E:/.vscode-workspace/html_css_kecheng/20200430/images/iconNBA.png) no-repeat -0px -45px;
  padding-left: 19px;
}

a:nth-last-child(2){
  margin-right: 6px;
}
