#nav{
    margin: auto;
    padding: 0px;
    width: 600px;    
   
    ul{
        list-style: none;
        padding: 0px;
       
        li{
          line-height: 50px;
            margin: 0px;           
            padding: 0px;
            width: 200px;
            float: left;
            text-align: center;
        }
    }
}